//@import "~bulma/sass/utilities/all";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EBEBEB;

// Update Bulma's global variables
$family-sans-serif: 'Source Sans Pro', sans-serif;
$grey-dark: #292929;
$grey-light: $beige-light;
$primary: $orange;
$primary-invert: findColorInvert($primary);
$link: $indigo;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
$input-placeholder-color: $grey-dark;

// Vue Select
//$vs-state-active-color: $beige-lighter;
$vs-component-placeholder-color: $grey-dark;
$vs-component-line-height: 1.6;
@import "~vue-select/src/scss/vue-select.scss";

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~@mdi/font/css/materialdesignicons.css";

$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
$ct-series-colors: (
    #f6993f,
    #f05b4f,
    #f4c63d,
    #d17905,
    #453d3f,
    #59922b,
    #0544d3,
    #6b0392,
    #f05b4f,
    #dda458,
    #eacf7d,
    #86797d,
    #b2c326,
    #6188e2,
    #a748ca
) !default;
@import "~chartist/dist/scss/chartist";
@import "~chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css";

//Import Application Css
@import "layout";
